<!DOCTYPE html>
<html lang="en" ng-app="myapp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular One Todo</title>
    <script src="lib/angular/angular.js"></script>
</head>

<body>

    <div ng-controller="todosCtrl">
        <!-- <pre>{{ todos | json }}</pre> -->
        <form ng-submit="addNewTodo()">
            Add new task
            <input id="newTodo" type="text" ng-model="newTodo">
        </form>
        <p>
            <input placeholder="Search ..." type="text" ng-model="search">
        </p>
        <ul>
            <li ng-repeat="item in todos | filter:search" ng-class="{done : item.isDone}">
                <label>
                    <input type="checkbox" ng-model="item.isDone">
                    <span>{{ item.text | uppercase | mr }}</span>
                    <span>{{ item.date | date }}</span>
                </label>
            </li>
        </ul>
    </div>

    <style>
        .done {
            text-decoration: line-through;
        }
    </style>

    <script>
        var app = angular.module('myapp', []);

        app.controller('todosCtrl', function ($scope, todosService) {

            todosService.getTodos().then(function (todos) {

                $scope.todos = todos;

                $scope.$apply();

                console.log(todos);
            });


            $scope.addNewTodo = function () {

                var text = $scope.newTodo;

                $scope.todos.push({
                    text: text,
                    isDone: false
                });

                $scope.newTodo = '';

            }

        });

        app.filter('mr', function mrFilter() {
            return function transformer(input) {
                return 'mr. ' + input;
            }
        });

        // app.service()

        app.factory('todosService', function () {

            return {
                getTodos: function () {
                    return new Promise((resolve, error) => {

                        setTimeout(() => {

                            resolve([
                                {
                                    id: 1,
                                    text: "delectus aut autem",
                                    isDone: false
                                },
                                {
                                    id: 2,
                                    text: "quis ut nam facilis et officia qui",
                                    isDone: false
                                },
                                {
                                    id: 3,
                                    text: "fugiat veniam minus",
                                    isDone: false
                                },
                                {
                                    id: 4,
                                    text: "et porro tempora",
                                    isDone: true
                                }]);

                        }, 1500);

                    })
                }
            }

        });

    </script>
</body>

</html>